/*---common css---*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    color: white;
    background: #000000;
}

/*------header section----*/


header{
    margin-top:20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #ffffff;
    border-bottom: 3px solid #383634;
}


/*-----home section----*/


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #000000;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #ffffff;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    height: 22vw;
    width: 18vw;
    border-radius: 100%;
    box-shadow: 25px 25px 25px solid #ffffff;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #ffffff;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #ffffff;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #ffffff;
    box-shadow: 0  0 25px #ffffff;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #ffffff;
    transition: 0.3s ease;
    cursor: pointer;
}


.btn{
    transform: scale3d(1.03);
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 25px #5c5b5b;
}

/*---typing text----*/


.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Mahasiswa";
    color: #ffffff;
    animation: anim 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #000000;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #ffffff;
    }
}

@keyframes anim{
    0%, 20%{
        content: "Masasiswa";
    }
    21%, 40%{
        content: "Freelancer";
    }
    41%, 60%{
        content: "Anak MI";
    }
    61%, 80%{
         content: "Anak MMTC";
    }
    81%, 100%{
        content: "Gabut";
    }
}



